*{font-family: Constantia; box-sizing: border-box;}
body{color: black; background-color: whitesmoke; padding: 5%;}
a{color: white;text-decoration: none;}
.section-header{font-size: 5vh; text-align: center; background-color: #A2B8A0; padding: 1%; width: 100%}
h2{font-size: 5vh;}
p{font-size: 3.5vh;}

#section0, #section2, #section3,  #section4{

    position: relative;
    margin-top: 10%;
}

.navbar{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    justify-content: center;
    list-style-type: none;
}

.navbar ul a{
    font-size: 3.5vh;
    justify-content: space-around;
    display: flex;
    color: black;
}

.navbar-brand{
    font-size: 5.5vh;
    font-weight:600;
    color: black;
}

.nav-link.disabled{
    pointer-events: none;
}